.loader{
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.body-overflow{
  overflow: hidden;
}

.loader-image{
  width: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
}

.label-year{
  display: inline;
}

.select-year{
  width: 6rem;
  display: inline;
  margin: 10px;
}

.no-view-content{
  font-weight: 900;
}

.no-view-help{
  font-size: 0.8rem;
}

.filter-label{
  font-weight: 800;
  font-size: 1.3rem;
  color: rgba(0,0,0,0.7);
}