.loader{
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.body-overflow{
  overflow: hidden;
}

.loader-image{
  width: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
}
